@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, #ccc, #f7a9a9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 40px 50px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-box {
  background: #fff;
  border: 3px solid #f08383;
  border-radius: 20px;
  padding: 20px 0;
  margin-bottom: 30px;
}

.logo-text h1 {
  color: #e74c3c;
  font-weight: 700;
  font-size: 36px;
}

.logo-text p {
  color: #e74c3c;
  font-size: 14px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  background: #fff;
  outline: none;
  font-size: 14px;
  color: #444;
}

.signup-text {
  font-size: 12px;
  color: #777;
  margin-bottom: 25px;
}

.signup-text a {
  color: #a74ef5;
  text-decoration: none;
  font-weight: 600;
}

.login-btn {
  background: #ddd;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
}

.login-btn:hover {
  background: #bbb;
}

.avatar-icon {
  height: 30px;
}
